.homeWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > img {
    width: 600px;
    height: 280px;
    object-fit: cover;
  }
}
