.fix-wrapper {
  position: fixed;
  right: 30px;
  top: 80px;
  width: 150px;
  text-align: center;

  & > p {
    font-size: 12px;
    color: #333;
    margin-bottom: 0;
  }

  & > p:first-child {
    font-size: 14px;
    color: #2878ff;
    font-weight: 700;
    margin-bottom: 5px;
  }
}
